@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

h1 {
  color: black;
  font-family: 'Poppins', sans-serif; }

h2 {
  color: black;
  font-family: 'Poppins', sans-serif; }

header {
  display: flex;
  background-color: #c4c2c2;
  width: 100%;
  justify-content: space-between;
  padding: 10px;
  padding-right: 20px; }

.barraNav {
  display: flex;
  list-style: none;
  gap: 20px;
  padding-top: 5px;
  font-family: 'Poppins', sans-serif; }

.barraNav li a {
  text-decoration: none;
  color: black; }

.imagenFondo {
  background-image: url("https://i.imgur.com/UTVdR9r.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 660px; }

.textoIndex {
  width: auto;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 15px; }

.fondoPagina {
  color: dimgray;
  width: 100%;
  height: 100%; }

.contenedorCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-bottom: 15px; }

.tituloHeader2 {
  display: none; }

.tituloHeader {
  text-decoration: none;
  color: black;
  font-family: 'Poppins', sans-serif;
  font-size: xx-large;
  padding-left: 65px;
  padding-top: 15px; }

.imagenfondoContacto {
  background-image: url(https://i.imgur.com/DxxSUvn.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 660px; }

.fondoPagina {
  color: dimgray;
  width: 100%;
  height: 100%; }

.contenedorFormulario {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start; }

.textoContacto {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 15px; }

.contenedorcardsContacto {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-evenly;
  padding-bottom: 15px; }

.tituloHeaderContactoh2 {
  display: none; }

.paginaContactoh2 {
  padding-top: 15px; }

.tituloHeadercontacto {
  text-decoration: none;
  color: black;
  font-family: 'Poppins', sans-serif;
  font-size: xx-large;
  padding-left: 65px;
  padding-top: 25px; }

.anchoCarrusel {
  width: auto;
  padding: 75px;
  padding-bottom: 0%;
  padding-top: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; }

.textoExteriores {
  width: 100%;
  height: 50px;
  padding-top: 15px;
  padding-left: 75px;
  display: flex;
  flex-wrap: wrap;
  align-items: left;
  justify-content: left; }

.contenedorCardsExteriores {
  display: flex;
  flex-wrap: wrap;
  align-items: left;
  justify-content: left;
  padding-left: 75px;
  padding-top: 25px;
  padding-bottom: 25px; }

.tituloHeaderExterioresh2 {
  display: none; }

.tituloHeaderExteriores2 {
  display: flex;
  padding-top: 25px;
  padding-right: 65px; }

.parrafo425Exteriores {
  padding: 5px;
  padding-top: 15px;
  display: none;
  flex-direction: row;
  justify-content: center;
  text-align: center; }

.tituloHeaderExteriores {
  text-decoration: none;
  color: black;
  font-family: 'Poppins', sans-serif;
  font-size: xx-large;
  padding-left: 65px;
  padding-top: 25px; }

.textoIntroExteriores {
  width: auto;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: justify;
  padding-top: 25px;
  background-color: #ece9e9;
  font-family: 'Poppins', sans-serif; }

.anchoCarruselinteriores {
  width: auto;
  padding: 75px;
  padding-bottom: 0%;
  padding-top: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; }

.textoInteriores {
  width: 100%;
  height: 50px;
  padding-top: 15px;
  padding-left: 75px;
  display: flex;
  flex-wrap: wrap;
  align-items: left;
  justify-content: left; }

.tituloHeaderInterioresh3 {
  display: none; }

.tituloHeaderInterioresh2 {
  display: flex;
  padding-right: 65px;
  padding-top: 15px; }

.parrafo425Interiores {
  display: none; }

.tituloHeaderInteriores {
  text-decoration: none;
  color: black;
  font-family: 'Poppins', sans-serif;
  font-size: xx-large;
  padding-left: 65px;
  padding-top: 25px; }

.textoIntroInteriores {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  padding: 10px;
  background-color: #ece9e9;
  font-family: 'Poppins', sans-serif;
  font-size: medium; }

.anchoCarrusel {
  width: auto;
  padding: 75px;
  padding-bottom: 0%;
  padding-top: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; }

.contenedorCardsdrone {
  display: flex;
  flex-wrap: wrap;
  align-items: left;
  justify-content: left;
  padding-left: 75px;
  padding-top: 25px;
  padding-bottom: 25px; }

.TituloheaderDroneh2 {
  padding-right: 65px;
  padding-top: 15px; }

.tituloheaderDroneh3 {
  display: none; }

.parrafo425Drone {
  display: none; }

.tituloheaderDrone {
  text-decoration: none;
  color: black;
  font-family: 'Poppins', sans-serif;
  font-size: xx-large;
  padding-left: 65px;
  padding-top: 25px; }

.textoIntroDrone {
  width: auto;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: justify;
  padding-top: 25px;
  background-color: #ece9e9;
  font-family: 'Poppins', sans-serif; }

main {
  background-color: #dddada; }

.imagenesPagina {
  display: flex;
  width: 50%;
  height: 50%;
  padding: 20px; }

.cardIndex {
  width: 18rem;
  height: 400px;
  background-color: #D1CDD8;
  display: flex;
  justify-content: center;
  border: 5px;
  border-color: black; }

footer {
  background-color: #dddada;
  width: 100%;
  height: auto; }

footer a {
  display: flex;
  text-decoration: none;
  color: black;
  justify-content: center;
  font-family: 'Poppins', sans-serif; }

@media (max-width: 1440px) {
  header {
    background-color: #dddada; }
  .barraNav {
    justify-content: flex-start; }
  footer {
    background-color: #dddada; }
  footer a {
    display: flex;
    text-decoration: none;
    color: black;
    justify-content: center;
    font-family: 'Poppins', sans-serif; }
  .imagenesPagina {
    display: flex;
    width: 50%;
    height: 50%;
    padding: 20px; }
  .textoIndex {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 25px;
    text-align: center; }
  .contenedorCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 15px;
    padding-top: 15px; }
  .parrafo425Exteriores {
    padding: 5px;
    padding-top: 15px;
    display: none;
    flex-direction: row;
    justify-content: center;
    text-align: center; }
  .parrafo425Interiores {
    display: none; } }

@media (max-width: 1024px) {
  header {
    background-color: #dddada; }
  .barraNav {
    justify-content: flex-start; }
  footer {
    background-color: #dddada; }
  footer a {
    display: flex;
    text-decoration: none;
    color: black;
    justify-content: center;
    font-family: 'Poppins', sans-serif; }
  .imagenesPagina {
    display: flex;
    width: 50%;
    height: 50%;
    padding: 20px; }
  .textoIndex {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 25px;
    text-align: center; }
  .contenedorCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 15px; }
  .paginaContactoh2 {
    font-size: large;
    padding-top: 15px; }
  .contenedorcardsContacto {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
    padding-bottom: 15px; }
  .tituloHeaderExterioresh2 {
    font-size: large;
    padding-top: 25px; }
  .tituloHeaderExteriores2 {
    display: none; }
  .parrafo425Exteriores {
    padding: 5px;
    padding-top: 15px;
    display: none;
    flex-direction: row;
    justify-content: center;
    text-align: center; }
  .tituloHeaderInterioresh3 {
    display: none; }
  .tituloHeaderInteriores {
    display: flex;
    padding-left: 65px;
    padding-top: 15px; }
  .tituloHeaderInterioresh2 {
    display: none; }
  .parrafo425Interiores {
    display: none; }
  .TituloheaderDroneh2 {
    display: none; }
  .parrafo425Drone {
    display: none; }
  .textoIntroExteriores {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    padding: 10px;
    background-color: #ece9e9;
    font-family: 'Poppins', sans-serif;
    font-size: medium; }
  .textoIntroInteriores {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    padding: 10px;
    background-color: #ece9e9;
    font-family: 'Poppins', sans-serif;
    font-size: medium; }
  .textoIntroDrone {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    padding: 10px;
    background-color: #ece9e9;
    font-family: 'Poppins', sans-serif;
    font-size: medium; } }

@media (max-width: 768px) {
  header {
    background-color: #dddada; }
  .barraNav {
    justify-content: flex-start; }
  footer {
    background-color: #dddada; }
  footer a {
    display: flex;
    text-decoration: none;
    color: black;
    justify-content: center;
    font-family: 'Poppins', sans-serif; }
  .imagenesPagina {
    display: flex;
    width: 50%;
    height: 50%;
    padding: 20px; }
  .textoIndex {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 25px;
    text-align: center; }
  .contenedorCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 15px; }
  .contenedorcardsContacto {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
    padding-bottom: 15px;
    padding: 25px; }
  .paginaContactoh2 {
    display: none; }
  .tituloHeader {
    padding-top: 15px;
    padding-left: 65px; }
  .tituloHeaderContacto {
    padding-top: 20px;
    padding-left: 65px; }
  .tituloHeaderExterioresh2 {
    display: none; }
  .tituloHeaderExteriores {
    padding-top: 15px;
    padding-left: 65px; }
  .contenedorCardsExteriores1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
  .parrafo425Exteriores {
    padding: 5px;
    padding-top: 15px;
    display: none;
    flex-direction: row;
    justify-content: center;
    text-align: center; }
  .parrafo425Interiores {
    display: none; }
  .tituloheaderDrone {
    padding-top: 15px; }
  .parrafo425Drone {
    display: none; }
  .textoIntroExteriores {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    padding: 10px;
    background-color: #ece9e9;
    font-family: 'Poppins', sans-serif;
    font-size: medium; }
  .textoIntroInteriores {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    padding: 10px;
    background-color: #ece9e9;
    font-family: 'Poppins', sans-serif;
    font-size: medium; }
  .textoIntroDrone {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    padding: 10px;
    background-color: #ece9e9;
    font-family: 'Poppins', sans-serif;
    font-size: medium; } }

@media (max-width: 425px) {
  header {
    background-color: #dddada; }
  .barraNav {
    justify-content: flex-start; }
  footer {
    background-color: #dddada; }
  footer a {
    display: flex;
    text-decoration: none;
    color: black;
    justify-content: center;
    font-family: 'Poppins', sans-serif; }
  .imagenesPagina {
    display: flex;
    justify-content: center;
    width: 50%;
    height: 50%;
    padding: 20px; }
  .tituloHeader {
    font-size: 100%; }
  .textoIndex {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 25px;
    text-align: center; }
  .contenedorCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 15px; }
  .tituloHeader {
    display: none; }
  .tituloHeader2 {
    display: block;
    font-size: large;
    padding-top: 20px; }
  .contenedorcardsContacto {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 15px; }
  .paginaContactoh2 {
    display: none; }
  .tituloHeaderContacto {
    padding-top: 15px;
    padding-left: 10px; }
  .tituloHeaderContactoh2 {
    display: none; }
  .tituloHeaderExteriores {
    display: none; }
  .tituloHeaderExterioresh2 {
    display: block;
    padding-bottom: 15px;
    font-size: x-large; }
  .contenedorCardsExteriores {
    display: none; }
  .parrafo425Exteriores {
    padding: 5px;
    padding-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    background-color: #d8d5d5;
    color: dimgray; }
  .anchoCarrusel {
    width: auto; }
  .parrafo425Interiores {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    padding-top: 15px;
    background-color: #d8d5d5;
    color: dimgray; }
  .tituloHeaderInterioresh3 {
    display: block;
    display: flex;
    padding-left: 25px;
    padding-top: 15px; }
  .tituloHeaderInteriores {
    display: none; }
  .tituloheaderDrone {
    display: none; }
  .tituloheaderDroneh3 {
    display: block;
    padding-left: 25px;
    padding-top: 15px; }
  .contenedorCardsdrone {
    display: none; }
  .parrafo425Drone {
    padding: 5px;
    padding-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    background-color: #d8d5d5;
    color: dimgray; }
  .textoIntroExteriores {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    padding: 10px;
    background-color: #ece9e9;
    font-family: 'Poppins', sans-serif;
    font-size: medium; }
  .textoIntroInteriores {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    padding: 10px;
    background-color: #ece9e9;
    font-family: 'Poppins', sans-serif;
    font-size: medium; }
  .textoIntroDrone {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    padding: 10px;
    background-color: #ece9e9;
    font-family: 'Poppins', sans-serif;
    font-size: medium; } }

@media (max-width: 320px) {
  header {
    background-color: #dddada; }
  .barraNav {
    justify-content: flex-start; }
  footer {
    background-color: #dddada; }
  footer a {
    display: flex;
    text-decoration: none;
    color: black;
    justify-content: center;
    font-family: 'Poppins', sans-serif; }
  .imagenesPagina {
    display: flex;
    justify-content: center;
    width: 50%;
    height: 50%;
    padding: 20px; }
  .tituloHeader {
    display: none; }
  .tituloHeader2 {
    display: block;
    font-size: large;
    padding-top: 20px;
    font-size: x-large;
    padding-bottom: 5px; }
  .contenedorcardsContacto {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 15px; }
  .paginaContactoh2 {
    display: none; }
  .tituloHeadercontacto {
    display: none;
    padding-top: 15px;
    padding-left: 10px; }
  .tituloHeaderContactoh2 {
    display: block;
    font-size: large;
    padding-top: 20px; }
  .tituloHeaderExteriores {
    display: none; }
  .tituloHeaderExterioresh2 {
    display: block;
    padding-bottom: 15px; }
  .contenedorCardsExteriores {
    display: none; }
  .parrafo425Exteriores {
    padding: 5px;
    padding-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center; }
  .textoExteriores {
    padding: 5px;
    padding-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center; }
  .textoIntroExteriores {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    padding: 10px;
    background-color: #ece9e9;
    font-family: 'Poppins', sans-serif;
    font-size: medium; }
  .textoIntroInteriores {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    padding: 10px;
    background-color: #ece9e9;
    font-family: 'Poppins', sans-serif;
    font-size: medium; }
  .textoIntroDrone {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    padding: 10px;
    background-color: #ece9e9;
    font-family: 'Poppins', sans-serif;
    font-size: medium; }
  .anchoCarrusel {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-right: auto;
    margin-left: auto; }
  .anchoCarruselinteriores {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-right: auto;
    margin-left: auto; } }
