footer{
    background-color: rgb(221, 218, 218);
    width: 100%;
    height: auto;
}

footer a{
    display: flex;
    text-decoration: none;
    color: black;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}