.anchoCarrusel{
    width: auto;
    padding: 75px;
    padding-bottom: 0%;
    padding-top: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.contenedorCardsdrone{
    display: flex;
    flex-wrap: wrap;
    align-items: left;
    justify-content: left;
    padding-left: 75px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.tituloheaderDrone{
    padding-left: 65px;
}

.TituloheaderDroneh2{
    padding-right: 65px;
    padding-top: 15px;
}

.tituloheaderDroneh3{
    display: none;
}

.parrafo425Drone{
    display: none;
}