.anchoCarruselinteriores{
    width: auto;
    padding: 75px;
    padding-bottom: 0%;
    padding-top: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.textoInteriores{
    width: 100%;
    height: 50px;
    padding-top: 15px;
    padding-left: 75px;
    display: flex;
    flex-wrap: wrap;
    align-items: left;
    justify-content: left;
}
.tituloHeaderInterioresh3{
    display: none;
}

.tituloHeaderInterioresh2{
    display: flex;
    padding-right: 65px;
    padding-top: 15px;
}

.parrafo425Interiores{
    display: none;
}

.tituloHeaderInteriores{
    @include tituloHeaderInteriores
}

.textoIntroInteriores{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    padding: 10px;
    background-color: rgb(236, 233, 233);
    font-family: 'Poppins', sans-serif;
    font-size: medium;
}