@media (max-width:1440px){
    header{
        background-color: rgb(221, 218, 218);
    }
    
    .barraNav{
        justify-content: flex-start;
    }
    footer{
        background-color: rgb(221, 218, 218)
    }
    footer a{
        display: flex;
        text-decoration: none;
        color: black;
        justify-content: center;
        font-family: 'Poppins', sans-serif;
    }
    .imagenesPagina{
        display: flex;
        width: 50%;
        height: 50%;
        padding: 20px;
    }
    .textoIndex{
        width: auto;
        height: auto;
        display: flex;
        justify-content: center;
        flex-direction: row;
        padding: 25px;
        text-align: center;
    }
    .contenedorCards{
        display: flex;
        flex-wrap: wrap;
        justify-content:space-evenly;
        padding-bottom: 15px;
        padding-top: 15px;
    }
    .tituloHeaderExteriores{
        display: flex;
        padding-left: 65px;
    }
}